<!DOCTYPE html>
 <html>
   <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
     <h1>Hello <%= @user.first_name %></h1>
     <p>
       This email confirms that your order made by <%= @user.email %> has been succesfull.
     </p>
     <p>
       To login to the site, just follow this link: <%= @url %>.
     </p>
     <p>Thanks for using Jungle for your shopping and have a great day!</p>
   </body>
 </html>
